%call-to-action {
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    border: 1rem solid color('neutral', 'light');
    color: color('neutral');
    padding: 2rem 0;
    text-align: center;
    display: block;
    border-radius: 5rem;
}