$colors: (
    'primary': (
        'color': #FF69B4,
        'dark': #CA0065,
        'inverse': #fff
    ),
    'neutral': (
        'color': #444,
        'light': #AAA,
        'inverse': #fff
    )
);
@function color($name, $variant: 'color') {
    @return map-get(map-get($colors, $name), $variant)
}
$big-font: 6rem;
$primary-grad: radial-gradient(circle 70vw at center , color('primary') 0%, color('primary', 'dark') 100%);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import './styles/component/**/*';

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
    color: color('neutral');
}

button, input, p, select {
    font-size: 1rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.sharethis-inline-share-buttons {
    margin: 3rem 0;
}

.ethicost {
    animation: fade-in 1s;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('/assets/background.svg') center bottom repeat-x #fff;

    header,
    footer {
        display: block;
        background: color('primary');
        background-image: $primary-grad;
        color: #fff;
        height: 3rem;
        line-height: 3rem;
    }

    header {
        .brand {
            padding: 10px;
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .login {
            float: right;
            padding-right: 10px;
            button {
                @extend %button-inverse;
                display: inline-block;
            }
        }
    }

    .body {
        flex: 1;
        padding: 0 0.8rem 0.8rem;
        background: rgba(255,255,255,0.8);
        max-width: 800px;
        margin: auto;
        width: 100%;
    }
}

@import './app/**/*.scss';