.merchants {
    padding: 0;
    margin: 0;
    display: block;

    li {
        display: block;
        margin: 2rem 0;
    }

    button {
        position: relative;
        width: 100%;
        span {
            position: absolute;
            right: 5px;
        }
    }
    table {
        display: block;
        width: 100%;

        &.hidden {
            display: none;
        }
    }

    thead {
        display: none;
    }

    tbody {
        display: block;
    }
    
    tr {
        display: flex;
        border-bottom: 1px solid;
        flex-wrap: wrap;
    }

    td {
        flex: 1 0 50%;
        padding: 0;
        margin: 0;
    }

    .merchant {
        font-weight: bold;
        flex: 1 0 100%;
    }

    .category {
        &::before {
            content: 'Category: '
        }
    }

    .amount {
        &::before {
            content: 'Price: '
        }
    }
    
    .ethiscore {
        &::before {
            content: 'EthiScore: '
        }
    }
}

@media (min-width: 500px) {
    .merchants {
        table {
            display: table;
        }

        button {
            span::before {
                content: 'Ethiscore: '
            }
        }

        thead, tbody {
            display: table-row-group;
        }

        tr {
            display: table-row;
        }

        td, th {
            display: table-cell;
        }

        .ethiscore,
        .amount,
        .category {
            &::before {
                content: none;
            }
        }
    }
}